@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    /*background-image: linear-gradient(to right, #b248c0, #323750);*/
    /*padding: 70px 200px 0 200px;*/
    font-family: 'Solway', serif;
    padding: 70px 200px 70px 200px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

input {
    all: unset;
}

